#center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#row1 {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 1000px;
  border: 1px solid rgba(41, 34, 34, 0.18);
}
#rowlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
}
#outer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  -webkit-box-shadow: 9px 7px 9px -3px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 9px 7px 9px -3px rgba(0, 0, 0, 0.28);
  box-shadow: 9px 7px 9px -3px rgba(0, 0, 0, 0.28);
  margin-bottom: 30px;
  border: 1px solid rgba(41, 34, 34, 0.18);
}
#sized {
  height: 250px;
  width: 250px;
}
#name {
  display: flex;
  justify-content: center;
}
#title {
  display: flex;
  justify-content: center;
  color: grey;
}
